boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cycler==0.10.0
ftfy==5.1.1
gensim==2.3.0
idna==2.6
Jinja2==2.9.6
langcodes==1.4.0
livereload==2.5.1
marisa-trie==0.7.4
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mkdocs==0.16.3
msgpack-python==0.4.8
numpy==1.13.1
pandas==0.20.3
py==1.4.34
pydoc-markdown==2.0.1
pyparsing==2.2.0
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.4
regex==2017.7.28
requests==2.18.4
scipy==0.19.1
seaborn==0.8
six==1.10.0
smart-open==1.5.3
torch==0.2.0.post1
tornado==4.5.1
urllib3==1.22
wcwidth==0.1.7
wordfreq==1.6.1
